.header {
    background-color: #a52d2d; /* Red color for the header */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Aligns items on opposite sides */
    align-items: center; /* Vertically centers items */
}

.header h1 {
    margin: 0;
}

.nav-links {
    list-style: none;
    padding-right: 50px;
    margin: 0;
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center items */
    justify-content: flex-end; /* Align items to the end of container */
}

.nav-links li {
    display: inline-block; /* Display links horizontally */
    margin-left: 50px; /* Adjust spacing between links */
}

.nav-links li:first-child {
    margin-left: 0; /* Remove margin for the first link */
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.welcome-container {
    text-align: right;
    padding: 20px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
    padding: 60px 0; /* Adjust based on the height of your header and footer */
}

.centered-content {
    background-color: rgba(255, 255, 255, 0.747);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

.centered-content h1 {
    font-weight: bold;
    color:  #a52d2d;
    margin-bottom: 30px;
}

.footer {
    background-color: #ffffff; /* Footer background color */
    color: #a52d2d; /* Text color */
    padding: 20px; /* Add padding for spacing */
    text-align: center;
    font-weight: bold;
}

.footer nav ul {
    list-style: none;
    padding: 0;
}

.footer nav ul li {
    display: inline;
    margin-right: 20px; /* Add margin between navigation items */
}

.footer nav ul li a {
    color: #a52d2d;
    text-decoration: none;
}

.footer nav ul li a:hover {
    text-decoration: underline;
}

.Credits {
    color: #a52d2d;
    margin-top: 20px; /* Add space between copyright and credits */
}

.copyright {
    margin-top: 10px; /* Add space between navigation and copyright */
    color: #a52d2d;
}
